@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  background-image: url("../images/cake.jpg ");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #302f2f;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.content {
  height: 250px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#increment-btn {
  background: rgb(246, 148, 141);
}

#increment-btn:hover {
  background: rgb(245, 121, 112);
}

#save-btn {
  background: #d99331;
}

#save-btn:hover {
  background: #dc8101;
}

#save-el {
  font-size: 1.3rem;
}

@media screen and (min-width: 900px) {
  body {
    background: center / 100% auto no-repeat url("../images/cake.jpg");
  }
}
